<footer>
<div class="footer-info">
    <p>All Rights Reserved</p>
    <p>&copy; Trivago Private Limited</p>
    <p><a href="/terms" >Terms and Conditions</a></p> 
    <p>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram-square"></i>
       <i class="fab fa-linkedin"></i>
    </p> 
   <p> <a href="/privacy">Privacy Policy</a></p>  
</div>

<div class="footer-links-div">
    <p>Overons</p>
    <p>Social Media</p>
    <p>Counters</p>
    <p>Contact</p>
</div>
</div>
<img src="../includes/world.png" alt="Image Description" class="footer-world-img2"><img src="../includes/world.png" alt="Image Description" class="footer-world-img">
</footer>