<% layout("/layouts/boilerplate") %>
<body>
    
<div class="container">
    <h1>Terms and Conditions</h1>
    <div class="terms-content">
        <h2>1. Introduction</h2>
        <p>This website and its contents are for informational purposes only and do not constitute legal advice. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        
        <h2>2. Acceptance of Terms</h2>
        <p>By accessing or using this website, you agree to be bound by these Terms and Conditions. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. In hac habitasse platea dictumst.</p>
        
        <h2>3. User Conduct</h2>
        <p>You agree not to use the website for any unlawful purposes or in violation of these Terms and Conditions. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat urna sed nisl luctus, id gravida justo viverra.</p>
        
        <h2>4. Privacy Policy</h2>
        <p>Your use of the website is also governed by our Privacy Policy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id enim id diam aliquam accumsan nec sit amet magna.</p>
        
        <h2>5. Intellectual Property Rights</h2>
        <p>All content and materials on this website are protected by copyright and other intellectual property laws. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget eleifend turpis.</p>
        
        <h2>6. Limitation of Liability</h2>
        <p>In no event shall the website or its affiliates be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with the use of this website. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet ante in sapien cursus malesuada eu id justo.</p>
        
        <h2>7. Indemnification</h2>
        <p>You agree to indemnify and hold harmless the website and its affiliates from any claims, damages, losses, liabilities, costs, and expenses arising out of your use of the website. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at arcu et purus pulvinar finibus.</p>
        
        <h2>8. Governing Law</h2>
        <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of [Bharat]. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget tellus ut turpis tristique euismod.</p>
        
        <h2>9. Changes to Terms and Conditions</h2>
        <p>We reserve the right to modify or revise these Terms and Conditions at any time without prior notice. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.</p>
        
        <h2>10. Contact Us</h2>
        <p>If you have any questions about these Terms and Conditions, please contact us at [help@travigo.com]. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique pharetra turpis.</p>
        
    </div>
    
</body>