body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1 ;
}

/* Navbar */
.navbar{
        height: 5rem;
        background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* Footer */

footer {
    background-color: #00080a;
    padding: 20px;
    text-align: center;
    margin-bottom: -10px;
    
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info,
.footer-links-div {
    flex: 1;
}

.footer-info p {
    margin: 5px 0;
    color:rgb(255, 204, 0);
}


.footer-links-div {
    text-align: center;
    margin-left: 30px;
    color: orangered;
}

.footer-heading {
    margin-bottom: 10px;
}


.footer-world-img,
.footer-world-img2{
    width:600px;
}

/* Cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem; 
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}

/* Card Effect */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
    /* border-bottom: #222222 solid 10px; */
}

/* Button */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.btns{
    display: flex;

}

/* Show Page */
.show-img{
    height: 30vh;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    margin-bottom: 20px;
}


/* Map */

#map { 
    height: 400px;
    width: 100vh; 
}


/* Chatbot */

#chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: #007bff 2px  solid;
    border-radius: 50%;
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

#chat-icon img {
    width: 80%;
    height: auto;
}

#chat-icon:hover {
    transform: scale(1.1); /* Optional: Add hover effect */
}

/* Terms And Conditions */
.terms-content {
    margin-top: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.6;
}

.terms-content h2 {
    margin-bottom: 10px;
}

.terms-content p {
    margin-bottom: 20px;
}

/* Media queries for responsive layout */
@media (max-width: 768px) {
    .card {
        margin-left: 0;
        margin-right: 0;
    }#map {
    
        height: 300px; 
        width: 50vh;
    }
}
@media (max-width: 576px) {
    #map {
        height: 200px;
        width: 50vh; 
    }
}
@media (max-width: 320px) {
    #map {
        height: 200px;
        width: 30vh; 
    }
}
@media only screen and (max-width: 999px) {
    .footer-world-img {
        display: none;
    }

    .footer-world-img2 {
        width: 100%; 
        margin: 0; 
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1270px) {
    .footer-world-img2 {
        width: 500px;
        margin-left:0px;
        
    }
    
    .footer-world-img {
        margin-right:-40px;
        width: 500px;
        
    }

    
}
