/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
    background: linear-gradient(to right, #ffff00, #ff0000);
    color: #200101;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 32px;
    margin-top: 0;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

/* Button Styles */
.but {
    display: inline-block;
    background-color: #860609;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.but:hover {
    background-color: #6e0609;
}

/* Image Styles */
.images-wrapper {
    text-align: center;
}

.travel {
    float: right;
    margin-right: 10px; /* Adjust spacing between the images and links */
}

.plane {
    float: left;
    margin-left: 10px; /* Adjust spacing between the images and links */
}

/* Feature Box Styles */
.feature {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.features-heading {
    margin-bottom: 20px;
}

.feature h2 {
    margin-top: 0;
}

/* Review Styles */
.review {
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.review-info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.review-text p {
    margin: 0;
    line-height: 1.5;
}

.stars {
    color: gold;
    font-size: 20px;
    margin-top: 10px;
}

.stars::after {
    content: "Verified Purchase";
    display: block;
    font-size: 12px;
    color: #888;
}

@media screen and (max-width: 768px) {
    .images-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .travel,
    .plane {
        margin: 20px auto;
        max-width: calc(50% - 40px);
    }
}