body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  padding: 5px;
}
.button {
  display: inline-block;
  background-color: #860609;
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 50px;
  margin-left: 2%;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
h1 {
  color: #200101;
  margin-top: 0;
  font-size: 34px;
}
h2 {
  color: #200101;
  margin-top: 30px;
}
p {
  color: #200101;
  font-size: 16px;
}
main {
  padding: 2rem;
}

#destination-search {
  display: flex;
  flex-direction: column;
}

#destination-listing ul {
  list-style-type: none;
  padding: 0;
}

#destination-listing li {
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  padding: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}
.form-group input, .form-group select {
  width: 40%;
  padding: 0.5rem;
  box-sizing: border-box;
}
  .container{
    background: linear-gradient(to right, #ffff00, #ff0000);
    color: #200101;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 20px;
}
  
.solotrip{
  margin-left: 50%; 
  margin-top: -400px;
  max-width: 450px;
  max-height: 100%;
 border-radius: 20px;
  /* Tablet-sized screens (768px and above) */
  @media screen and (max-width: 768px) {
      margin-left: 5px; 
      margin-top: 5px; 
}
}

